@mixin mq($breakpoint) {
  @if $breakpoint == "mobile-wide" {
    @media (min-width: $mobile-wide) {
      @content;
    }
  }

  @else if $breakpoint == "tablet" {
    @media (min-width: $tablet) {
      @content;
    }
  }

  @else if $breakpoint == "tablet-wide" {
    @media (min-width: $tablet-wide) {
      @content;
    }
  }

  @else if $breakpoint == "laptop" {
    @media (min-width: $laptop) {
      @content;
    }
  }

  @else if $breakpoint == "desktop" {
    @media (min-width: $desktop) {
      @content;
    }
  }
}
