doctype html
html(lang="en")
    head
        title Web Boilerplate 1.0

        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, minimal-ui, initial-scale=1')
        meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')

        link(rel='stylesheet', href='css/main.css')

    body
        block body

            // script(src='path_to_js')

        block scripts
